$color_1: #514b82;
$color_2: white;
$color_3: #FFFFFF;
$color_4: #7e7e7e;
$color_5: #333;
$color_6: #9356dc;
$color_7: black;
$color_8: #008766;
$font-family_1: "Roboto", sans-serif;
$background-color_1: rgba(0, 0, 0, 0.3);
$background-color_2: #eaeaea;
$background-color_3: #f6f6f6;
$background-color_4: #f8f8f8;
$background-color_5: #9356dc;
$background-color_6: white;
$background-color_7: #99e2d0;
$background-color_8: #353535;

@keyframes l6 {
	100% {
		inset: 0;
	}
}
@keyframes fadeOutLoader {
	0% {
		opacity: 1;
		visibility: visible;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}
@keyframes fadeOutBackground {
	0% {
		opacity: 1;
		visibility: visible;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}
body {
	margin: 0;
	font-family: $font-family_1;
	margin: 0;
	font-family: $font-family_1;
}
.loader {
	width: 120px;
	height: 22px;
	border-radius: 20px;
	color: $color_1;
	border: 2px solid;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, 0.3);
	animation: fadeOutLoader 2s forwards 3s;
	z-index: 999;
	&::before {
		content: "";
		position: absolute;
		margin: 2px;
		inset: 0 100% 0 0;
		border-radius: inherit;
		background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
		animation: l6 2s infinite;
	}
}
.loading-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $background-color_1;
	backdrop-filter: blur(10px);
	z-index: 998;
	animation: fadeOutBackground 2s forwards 3s;
}
a {
	text-decoration: none;
}
* {
	font-family: $font-family_1;
}
header {
	text-align: center;
	padding: 14px 0;
	box-shadow: 0px 4px 4px 0px #000000;
}
.logo {
	width: 162px;
	height: auto;
}
.location-form {
	display: flex;
	justify-content: center;
	position: relative;
	background-color: $background-color_2;
	padding: 15px 0;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
	padding-left: 4em;
	input {
		text-align: center;
		border: none;
		background: transparent;
		width: 62%;
		font-size: 16px;
		font-weight: bold;
	}
}
.explorer {
	background-color: $background-color_3;
	margin: 0;
	text-align: center;
	padding: 2em 0;
	h1 {
		margin: 0;
		padding: 0.5em 0;
	}
	p {
		font-size: medium;
	}
}
.button-explorer {
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
	border: none;
	border-radius: 25px;
	background: linear-gradient(#FF79DA, #9356DC);
	color: $color_2;
	padding: 1em 2em 1em 2em;
	font-size: 16px;
	cursor: pointer;
	margin-top: 1em;
	transition: 200ms;
	&:hover {
		opacity: 0.8;
	}
}
.fonctionnement {
	h2 {
		margin: 1.5em 0.7em;
	}
}
.restaurants {
	background-color: $background-color_3;
	padding: 0.5em 0 4em 0;
	h2 {
		margin: 1.5em 0.7em;
	}
}
.etape {
	display: flex;
	flex-direction: column;
	gap: 1em;
	align-items: center;
	margin-bottom: 4em;
	margin-top: 2em;
}
.etape-item {
	display: flex;
	align-items: center;
	background-color: $background-color_4;
	padding: 1.4em;
	border-radius: 20px;
	width: 75%;
	max-width: 300px;
	box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
	position: relative;
}
.etape-numero-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $background-color_5;
	font-size: 0.88em;
	color: $color_3;
	width: 1.55em;
	height: 1.55em;
	border-radius: 50%;
	position: absolute;
	left: -12px;
}
.etape-contenu {
	display: flex;
	align-items: center;
	gap: 0.62em;
	margin-left: 1em;
}
.etape-icone {
	font-size: 1.2em;
	color: $color_4;
	margin-right: 10px;
}
.etape-texte {
	font-size: 1em;
	color: $color_5;
	font-weight: 500;
}
.fa-store {
	&:before {
		color: $color_6;
	}
}
.direction {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 1.5em;
	gap: 3em;
}
.restaurants-cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	.cards {
		width: 90%;
		border-radius: 15px;
		overflow: hidden;
		position: relative;
		box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
	}
	img {
		width: 100%;
		height: 180px;
		-o-object-fit: cover;
		object-fit: cover;
	}
	.card-content {
		padding: 0.62em 0.94em;
		background-color: $background-color_6;
	}
	.card-title {
		font-size: 18px;
		margin: 0;
		margin-bottom: 5px;
		text-decoration: none;
		color: $color_7;
	}
	.location {
		font-size: 17px;
		color: $color_4;
		margin: 0;
		display: inline-block;
	}
	.card-title-container {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
}
.card-badge {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: $background-color_7;
	color: $color_8;
	padding: 5px 10px;
	border-radius: 2px;
	font-size: 14px;
	font-weight: 500;
}
.heart-checkbox {
	display: none;
	&:checked {
		+ {
			.heart-icon {
				.fa-heart {
					font-weight: 900;
					background: linear-gradient(to bottom, #9356DC, #FF79DA);
					-webkit-background-clip: text;
					background-clip: text;
					-webkit-text-fill-color: transparent;
					animation: fill 0.3s ease forwards;
				}
			}
		}
	}
}
.heart-icon {
	i {
		font-size: 24px;
		cursor: pointer;
		position: absolute;
		top: 80%;
		right: 5%;
	}
	.fa-heart {
		transition: all 0.3s ease;
	}
}
.footer {
	display: flex;
	flex-direction: column;
	background-color: $background-color_8;
	padding: 22px 25px 22px 25px;
	gap: 0.44em;
}
.footer-section {
	display: flex;
	align-items: baseline;
	justify-content: flex-start;
	gap: 0.6em;
}
.footer-section-div {
	display: flex;
	flex-direction: column;
	gap: 0.6em;
}
.logo-footer {
	width: 139px;
	height: 27px;
	filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(56deg) brightness(100%) contrast(107%);
}
.footer-icone {
	color: $color_2;
}
.footer-texte {
	color: $color_2;
}
.footer-section-icone {
	color: $color_2;
}
@media all and (min-width: 768px) and (max-width: 1990px) {
	.etape {
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		gap: 4em;
		margin-left: 1em;
		margin-right: 1em;
		padding: 1em;
	}
	.etape-item {
		padding: 1.5em;
	}
	.etape-texte {
		font-size: 1em;
	}
	.fonctionnement {
		h2 {
			display: flex;
			justify-content: flex-start;
			margin: 1.5em 1.5em;
		}
	}
	.restaurants {
		h2 {
			display: flex;
			justify-content: flex-start;
			margin: 1.5em 1.5em;
		}
	}
	.direction {
		flex-direction: row;
		width: 85%;
	}
	.logo-footer {
		width: 120px;
		height: 20px;
	}
	.footer {
		flex-direction: row-reverse;
		gap: 5em;
		align-items: center;
		padding: 3em 2em 2em 0;
	}
	.footer-section-div {
		flex-direction: row;
		gap: 2em;
		justify-content: flex-end;
	}
}
